<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <settings>
        <setting name="cacheEnabled" value="true"/>
        <setting name="defaultExecutorType" value="SIMPLE"/>
    </settings>

    <typeAliases>
        <typeAlias alias="UserPO" type="com.tom.srccode.deep.analysis.chapter9.UserPO" />
    </typeAliases>

    <mappers>
        <mapper resource="a_src_deep_analysis/chapter9/UserMapper.xml" />
    </mappers>

</configuration>